@import '../packs/script/library.scss';

a{
  color: $clockPending;
}
.timer_controler{
  .task-list{
    padding-top: 30px;
    text-align: center;
    h3{
      margin: auto;
      display: inline-block;
      background-color: $mainYellow;
      padding: 5px 10px;
      font-size: 20px;
      border-radius: 20px;
    }
    p{
      color: #fff;
      font-size: 28px;
      margin: 10px;
    }
  }
}

.tomato_relax_bg{
  background-image: url(../../../public/pic-tomato-relax-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $mainGreen;
  height: 100vh;
    
  .display{
    margin: 20px 0px 40px 0px;
    width: 400px;
    height: 400px;
    border: 3px solid #fff;
    border-radius: 100%;

  }
  // clock
  .pending{
    background-color: $clockPending;
    font-size: 130px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    color: #fff;
  }
  .start{
    background-color: $redClockBtn;
    font-size: 130px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    color: #fff;
  }
  .relax{
    background-color: $relaxClock;
    font-size: 130px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    color: #fff;
  }
  // btn
  span{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 100%;
  }

  .stopbtn, .startbtn, .relaxbtn{
    background-color: $relaxPlayBtn;
    border-radius: 100px;
    font-size: 30px;
    color: #fff;
  }

}

.tomato_bg{
  background-image: url(../../../public/pic-tomato-start-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $mainRed;
  height: 100vh;

    .display{
      margin: 20px 0px 40px 0px;
      width: 400px;
      height: 400px;
      border: 3px solid #fff;
      border-radius: 100%;

    }
    // clock
    .pending{
      background-color: $clockPending;
      font-size: 130px;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      color: #fff;
    }
    .start{
      background-color: $redClockBtn;
      font-size: 130px;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      color: #fff;
    }
    .relax{
      background-color: $relaxClock;
      font-size: 130px;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      color: #fff;
    }
    // btn
    span{
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border: 2px solid #fff;
      border-radius: 100%;
    }

    .stopbtn, .startbtn, .relaxbtn{
      background-color: $redClockBtn;
      border-radius: 100px;
      font-size: 30px;
      color: #fff;
    }


}
