.clock {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 20px solid #307FE2;
    position: relative;
    // background-color: #FBDB14;
  }
  
  a {
    color: #F340AF!important;
  }