
<div class="container" data-controller="trelloapi">
    <a href="#" data-action="trelloapi#get_token">
      <span>驗證</span>
    <a>

    <a href="#" data-action="trelloapi#add_task">
      <span>加任務</span>
    </a>
</div>
