<div class="container" data-controller="trelloapi"> 

  <%= form_tag({controller: "trelloapi", action: "get_selection"}, method: "post") do %>
    <ul>
      <% @lists.each do |list| %>
          <li>
            <%= check_box_tag list.values_at("id"), list.values_at("name"),nil,:name => list.values_at("name"),"data-action"=>"click->trelloapi#select_list", "data-target"=>"trelloapi.select_list",class:"select_list" %>
            <%= list.values_at("name").join %>
          </li>
      <% end %>
    </ul>
    
    <%= submit_tag "Submit" %>
  <% end %>
</div>