<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>
    <% if user_signed_in? %>
    <%= link_to 'Sign out' , destroy_user_session_path, method: 'delete' %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</nav>