  <div class="main_container">
    <div class="task_group">
      <div class=" task_list">
        
        <div class="show-data">
          <div class="data">
            <h1><%= @tictacs.count %></h1>
            <p>收集番茄</p>
          </div>
          <div class="data">
            <h1><%= @uncoming_task.count %></h1>
            <p>待完成任務</p>
          </div>
          <div class="data">
            <h1><%= @finish_task.count %></h1>
            <p>已完成任務</p>
          </div>
        </div>

        

      </div>
      
    </div>
  </div>