@import "../script/library";

* {
  font-family: 微軟正黑體;
}
input{
  border: none;
}

  .start_timer{
    position: fixed;
    display: flex;
    background-color: #F27F6B;
    color: #ffffff;
    padding: 15px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    bottom: 0;
    left: 43%;
    font-size: 18px;
    .start_icon{
      margin-right: 10px;
      span {
        padding-left: 10px;
      }
    }
  }
// 
  .left-nav{
    font-size: 15px;
    box-shadow: 2px 1px 5px 0px rgba(66,66,66,0.08);
  }
// 
  .project_group{
    background-color: #ffffff;
    width: 18vw;
    position: sticky;

    a{
      color: $normalFontColor;
    }

    .todo-container{
      padding-top: 20px;
    }
    .todo-list{
      display: flex;
      align-items: center;
      padding: 10px 20px 10px 10px;

      .icon{
        width: 15%;
        text-align: center;
      }
      p.title{
        width: 70%;
        margin-bottom: 0;
      }
      .project_time{
        text-align: right;
        width: 15%;
        color: $leftNavTime;
      }

    }

    .project-container{
      overflow-y: auto;
      height: calc(100vh - 210px);

      .project-list{
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 20px ;

        .project_cover{
          padding-right: 10px;
          #project_cover{
            width: 15px;
            height: 15px;
          }
        }
        .project_name{
          width: 70%;
        }
        .project_time{
          text-align: right;
          width: 15%;
          color: $leftNavTime;
        }
      }

    }

    .add_project{
      display: flex;
      justify-content: center;
      padding: 10px 10px 10px 10px;
      width: 100%;
      color: #F27F6B;
      background-color: #f9f9f9 !important;
      bottom: 0;
      z-index: 5;
      .plus_icon{
        margin-right: 5px;
      }
    }
    .add_project:hover{
      background-color: #f9f9f9;
    }

    .divider{
      width: 80%;
      display: block;
      border: 1px solid #f9f9f9;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .project{
      display: flex;
      padding: 10px 10px 10px 10px;
      .project_cover{
        width: 15%;
        .project_color{
          margin: auto;
        }
      }
      .project_name{
        width: 70%;
      }
      .project_time{
        text-align: right;
        width: 15%;
        color: $leftNavTime;
      }
    }
  }


    .add_project{
      display: flex;
      padding: 10px 10px 10px 10px;
      width: 100%;
      color: #F27F6B;
      position: absolute;
      justify-content: center;
      bottom: 0;
      .plus_icon{
        margin-right: 5px;
      }
    }
    .add_project:hover{
      background-color: $shadowColor;
    }

// 顯示番茄數據
    .show-data{
      background-color: #fff;
      display: flex;
      justify-content: space-evenly;
      margin: 10px 15px 15px 15px;
      border-radius: 5px;
      box-shadow: -1px 2px 5px -2px rgba(66,66,66,0.10);

      h1{
        font-size: 28px;
        color: $mainRed;
      }

      p{
        font-size: 13px;
      }

      .data{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
