@import "../script/library";
.main_container{
  display: flex;
  color: #434343;
  font-family: 微軟正黑體;
  font-weight: 600;
  .project_group{
    background-color: #ffffff;
    width: 20vw;
    height: 100vh;
    .todo{
      display: flex;
      padding: 10px 10px 10px 10px;
      .icon{
        width: 15%;
        text-align: center;
      }
      .title{
        width: 70%;
      }
      .project_time{
        text-align: right;
        width: 15%;
        color: $leftNavTime;
      }
    }
    .divider{
      width: 80%;
      display: block;
      border: 1px solid #f9f9f9;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .project{
      display: flex;
      padding: 10px 10px 10px 10px;
      .project_cover{
        width: 15%;
        .project_color{
          margin: auto;
        }
      }
      .project_name{
        width: 70%;
      }
      .project_time{
        text-align: right;
        width: 15%;
        color: $leftNavTime;
      }
    }
    .add_project{
      display: flex;
      padding: 10px 10px 10px 10px;
      justify-content: center;
      color: #F27F6B;
      .plus_icon{
        margin-right: 5px;
      }
    }
    .add_project:hover{
      background-color: $shadowColor;
    }
  }
  .task_group{
    background-color: #F7F7F7;
    width: 100vw;
    height: 100vh;
    .task_list{
      width: 100%;
      .show_data{
        margin: 12px 12px 8px 12px;
        width: auto;
        height: 150px;
        background-color: #ffffff;
        display: flex;
        .data{
          margin: auto;
          width: 100%;
          text-align: center;
          font-size: 20px;
          h1{
            color:#F27F6B;
          }
        }
      }
      .add_task{
        display: flex;
        margin: 12px 12px 8px 12px;
        width: auto;
        background-color: #ffffff;
        color: #F27F6B;
        padding: 15px 15px 15px 25px;
        vertical-align: middle;
        input{
          margin-left: 20px;
          border: none;
          width: 100%;
        }
        input:focus{outline:none}
        ::-webkit-input-placeholder{
          color: $placeholder;
        }
      }
    }
  }
}