@import "~bootstrap/scss/bootstrap";
.navname {
    background-color: #F27F6B;
    height: 60px;
    a {
        color: #FFF;
    }
    .logo {
        display: block;
        width: 200px;
        height: 30px;
        background-image: url(../../../../public/tomato-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
body {
    color: #434343;
    background-color: #F7F7F7;
    .path-color {
        background-color: #ffcb78;
    }
}
.tag-color {
    color: #434343;
    background-color: #ffcb78;
}
