@import "~bootstrap/scss/bootstrap";

.navname {
<<<<<<< HEAD
    background-color: #F27F6B;
    a {
        color: #FFF;
    }
}
body {
    color: #434343;
    background-color: #F7F7F7;
    .path-color {
        background-color: #ffcb78;
    }
}
.tag-color {
    color: #434343;
    background-color: #ffcb78;
}
=======
    color: #FBDB14;
    background-color: #1E3F63;
}


h1,h2,h3,h4{
    margin-bottom: 0;
  }
>>>>>>> 加入scss
