@import "~bootstrap/scss/bootstrap";
@import "_library.scss";

.navname {
    background-color: $mainRed;
    a {
        color: #FFF;
    }
}
body {
    color: $normalFontColor;
    background-color: $mainBackground;
    .path-color {
        background-color: $mainYellow;
    }
}
.tag-color {
    color: $normalFontColor;
    background-color: $mainYellow;
}
.login_width {
    width: 250px;
}
.text-divider:before { 
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid $mainBackground;
}
.text-divider {
    margin: 1rem 0;
    line-height: 0;
    text-align: center;
    span {
        background-color: #fff;
        padding: 1rem;
    }
}