/* 版面色彩 */ 
$mainRed: #F87660;
$redBtnHover: #ED7964;
$clockPending: #FFAD9F;
$redClockBtn: #DE6B57;
$mainGreen: #9ADDC6;
$relaxClock: #93CCB9;
$relaxPlayBtn: #7FB5A3;
$darkGreen: #4A8973;
$mainYellow: #FFCB78;
$lightYellow: #FFFBE9;

/* 字型色彩 */
$normalFontColor: #434343;
$leftNavTime: #939393;
$placeholder: #C7C6C6;

/* 背景底色 */
$mainBackground: #F7F7F7;
$newProjectNav: #F9F9F9;
$shadowColor: rgba(#6C6C6C, 0.16);
$subBackground: #FFFFFF;