@import "_library.scss";

.display_data{
  background-color: $mainBackground;
}
.chartbg{
  background-color: $subBackground;
}
.dashboard_tictac{
  width: 30px;
}
.big_tictac{
  max-width: 200px;
}
.tictac_num{
  font-size: 100px;
}