@import "_library.scss";

// 清除預設
* {
  font-family: 微軟正黑體;
  outline: none;
}
input{
  border: none;
}
a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.project-list:focus{
  background-color: #ccc;
}
ul,li{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3{
  text-align: left;
}

// 顯示番茄數據

.info-contain{
  .col-7{
    padding-left: 0px;
  }
  h3{
    font-size: 18px;
    padding: 16px 24px 10px 24px;
  }
  .divider{
    width: 95%;
    display: block;
    border-top: 1px solid #F0F0F0;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .tomato-garden{
    height: 290px;
    background-color: $subBackground;
    border-radius: 10px;
    box-shadow: 3px 5px 10px -8px rgba(217,132,132,0.48);
    text-align: center;
    background-image: url(../../../public/plant_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .plant_bg{
      height: 280px;
      width: 100px;
      .tomato_first{
        position: absolute;
        bottom: 40px;
        left: 50%;
        height: 90px;
      }
      .tomato_sec{
        position: absolute;
        height: 180px;
        bottom: 40px;
        left: calc(50% - 70px);
        animation-name: swing;
        animation-duration: 6s;
        animation-iteration-count: infinite;
      }
      .tomato_third{
        position: absolute;
        height: 230px;
        bottom: 40px;
        left: calc(50% - 69px);
        animation-name: swing;
        animation-duration: 6s;
        animation-iteration-count: infinite;
      }
      .tomato_forth{
        position: absolute;
        height: 240px;
        bottom: 40px;
        left: calc(50% - 67px);
        animation-name: swing;
        animation-duration: 6s;
        animation-iteration-count: infinite;
      }
    }
  }

  @keyframes swing{
    0% {transform: rotate(0deg); transform-origin: bottom;}
    25% {transform: rotate(8deg); transform-origin: bottom;}
    50% {transform: rotate(0deg); transform-origin: bottom;}
    75% {transform: rotate(-8deg); transform-origin: bottom;}
    100% {transform: rotate(0deg); transform-origin: bottom;}
  }

  .information{
    height: 290px;
    background-color: $subBackground;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 3px 5px 10px -8px rgba(217,132,132,0.48);
  }
  .data-list{
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    p{
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 13px;
    }
    span{
      font-size: 35px;
      color: $mainRed;
    }
  }
  .col-6:nth-child(even){
    padding-left: 0px ;
  }
  .info-list{
    li{
      margin: 4px 24px 4px 24px;
      .info-trello{
        background-color: #55A3FF;
        color: $subBackground;
        border-radius: 10px;
        font-size: 14px;
        padding: 0px 8px;
        height: 25px;
        line-height: 1.8;
        font-weight: 500;
      }
    }
    p{
      font-size: 15px;
      margin: 4px 10px;
      line-height: 1.2;
    }
  }
  
}
.project_cover {
  .project-title{
    .sun{
      color: $mainRed;
      font-size: 18px;
    }
  }
}

h2.project-title{
  font-size: 20px;
}

.form-control{
  border: none;
  height: 45px;
  border-radius: 10px;
}

::-webkit-input-placeholder {
  color: #F0F0F0;
  font-size: 16px;
}

.delete-icon{
  width: 80px;
}

.tag-icon{
  width: 300px;
}

.tictac-icon{
  width: 100px;
}

.task-project{
  border-left: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
  padding: 0 16px;
  white-space:nowrap;
  width: 150px;
}

.input-group-text{
  border: none;
  background-color: $subBackground;
  border-radius: 10px 10px 10px 10px;
  .icon-circle{
    border: 2px solid $mainRed;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    position: relative;
    .fa-plus{
      font-size: 13px;
      color: $mainRed;
      position: absolute;
      top: 4px;
      left: 5px;
    }
  }
}

.dropdown-menu{
  transform: translate3d(-160px, 0px, 0px)!important;
}

.btn-self{
  font-size: 2rem!important;
}