@import "_library.scss";

// 清除預設
* {
  font-family: 微軟正黑體;
  outline: none;
}
input{
  border: none;
}
a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.project-list:focus{
  background-color: #ccc;
}

// 顯示番茄數據
