@import "_library.scss";

// 番茄鐘
.start_timer{
    position: fixed;
    background-color: $mainRed;
    color: $subBackground;
    padding: 13px 25px;
    margin-bottom: 30px;
    border-radius: 5px;
    bottom: 0;
    left: 43%;
    font-size: 18px;
    z-index: 20;
    .start_icon{
      margin-right: 10px;
      color: $subBackground;
      span {
        padding-left: 10px;
        color: $subBackground;
      }
    }
  }

// left_nav

.left-nav{
    font-size: 15px;
    box-shadow: 2px 1px 5px 0px rgba(66,66,66,0.08);
  }
  
  .drop-btn{
    color: $placeholder;
  }
  
  .btn{
    padding: 0px
  }
  
  .project_group{
    background-color: $subBackground;
    width: 20vw;
    height: calc(100vh - 66px);
    position: sticky;
  
    a{
      color: $normalFontColor;
    }
  
    .todo-container{
      padding-top: 20px;
    }
  
    .project_time{
      color: $leftNavTime;
    }
  
    .project-container{
      overflow-y: auto;
      height: calc(100vh - 210px);
  
      #project_cover{
        width: 15px;
        height: 15px;
      }
  
      .project_name{
        width: 60%;
      }
    }
  
    .add_project{
      color: $mainRed;
      background-color: $newProjectNav !important;
      bottom: 0;
      z-index: 5;
      position: absolute;
    }
  
    .add_project:hover{
      background-color: $shadowColor;
    }
  
    .divider{
      width: 80%;
      display: block;
      border-top: 1px solid $shadowColor;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }