@import "_library.scss";

// 番茄鐘
.start_timer{
    position: fixed;
    background-color: $mainRed;
    color: $subBackground;
    padding: 13px 25px;
    margin-bottom: 30px;
    border-radius: 5px;
    bottom: 0;
    left: 43%;
    font-size: 18px;
    z-index: 20;
    .start_icon{
      margin-right: 10px;
      color: $subBackground;
      span {
        padding-left: 10px;
        color: $subBackground;
      }
    }
  }

// left_nav

.left-nav{
    z-index: 11;
    box-shadow: -1px 2px 22px -4px rgba(217,132,132,0.6);
  }

  .btn{
    padding: 0px
  }

  .drop-btn{
    color: #fff;
  }
  .drop-btn:hover{
    color: #fff;
  }
  
  .project_group{
    background-color: $mainRed;
    height: calc(100vh - 60px);
    position: sticky;
  
    a{
      color: #fff;
    }
    a:hover{
      color: #fff;
    }
  
    .todo-container{
      padding-top: 20px;
    }
  
    .project_time{
      color: #fff;
    }

    .dropdown-menu{
      a{
        color: #383838;
        margin-top: 2px;
        border: none;
      }
    }
  
    .project-container{
      overflow-y: auto;
      height: calc(100vh - 210px);
  
      #project_cover{
        width: 15px;
        height: 15px;
      }
  
      .project_name{
        width: 120px;
        padding: 0 5px;
      }
    }
  
    .add_project{
      color: #fff;
      background-color: #FFC7BE;
      bottom: 0;
      left: 0;
      z-index: 5;
      position: absolute;
      padding: 10px;
    }
  
    .divider{
      width: 80%;
      display: block;
      border-top: 1px solid #fff;
      margin: auto;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }