@import "_library.scss";

// 番茄鐘
.start_timer{
    position: fixed;
    color: $subBackground;
    padding: 13px 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    bottom: 0;
    right: 10px;
    font-size: 18px;
    z-index: 20;
    .start_icon{
      div{
        width: 80px;
        height: 80px;
        background-image: url(../../../public/tomato_tictac_plus.png);
        background-position: center;
        background-size: cover;
        transition: .5s;
      }
      div:hover{
        width: 120px;
        height: 120px;
        background-image: url(../../../public/tomato_tictac.png);
        background-position: center;
        background-size: cover;
        transition: .5s;
      }
    }
  }

// left_nav

.main-container{
    width: 100%;
    height: calc(100vh - 60px);
    // position: sticky;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
}

.left-nav{
    z-index: 11;
    box-shadow: -1px 2px 22px -4px rgba(217,132,132,0.6);
  }
  .fa-sun{
    color: $subBackground;
  }
  .fa-list{
    color: $subBackground;
  }

  .btn{
    padding: 0px;
  }

  .right_nav{
    padding: 10px;
    background-color: $mainYellow;
    border-color: $mainYellow;
  }

  .drop-btn{
    color: $subBackground;
  }
  .drop-btn:hover{
    color: $subBackground;
  }
  
  .project_group{
    background-color: $mainRed;
    height: calc(100vh - 60px);
    position: sticky;

    .drop-btn{

    }
  
    a{
      color: $subBackground;
    }
    a:hover{
      color: $subBackground;
    }
  
    .todo-container{
      padding-top: 20px;
    }
  
    .project_time{
      color: $subBackground;
      width: 20px;
      margin: 0px 3px;
      text-align: right;
    }

    .dropdown-menu{
      a{
        color: #383838;
        margin-top: 2px;
        border: none;
      }
    }
  
    .project-container{
      overflow-y: auto;
      height: calc(100vh - 210px);
  
      #project_cover{
        width: 15px;
        height: 15px;
      }
  
      .project_name{
        width: 120px;
        padding: 0 5px;
      }
    }
  
    .add_project{
      color: $subBackground;
      background-color: #ffc7be;
      bottom: 0;
      left: 0;
      z-index: 5;
      position: absolute;
      padding: 10px;
    }
  
    .divider{
      width: 80%;
      display: block;
      border-top: 1px solid $subBackground;
      margin: auto;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  button.btn.project-btn{
    display: none;
    color: $normalFontColor;
  }

// left-nav rwd
  @media screen and (max-width:991px){
    .row{
      display: block;
    }

  .left-nav{
    box-shadow: none;
    z-index: 0;
  }
  .project_group{
    height: auto;
    justify-content: center;
    .project-container{
    height: auto;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    }
    .add_project{
    position: relative;
  }
  .project-list{
    text-align: center;
  }
  .todo-container{
    margin: auto;
    width: 70%;
  }
  }
  button.btn.project-btn{
    display: block;
    padding: 0 10px 0 10px;
    margin-left: auto;
  }
  
 }


  @media screen and (max-width:767px){

   .main-container{
    width: 100%;
    height: auto;
    // position: static;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
  }
 }
