@import "~bootstrap/scss/bootstrap";
@import "_library.scss";

// top_nav
.navbar {
    padding: 0.5rem 2rem;
    .nav-font{
        display: none;
    }
    .navbar-nav{
        margin-left: auto;
    }
    .button:focus{
        outline: none;
    }
    .nav-hamber{
        color: #fff;
    }
     @media (max-width: 767px) {
        .nav-font{
            display: inline-block;
        }
        .navbar-nav{
            background-color: $mainRed;
            padding: 10px 0px;
            margin-left: 0;
            top: 10px;
        }
        li{
            padding: 5px 0px;
        }
        button:focus{
            outline: 0px;
        }
     }

}
.navname {
    background-color: $mainRed;
    height: 60px;
    box-shadow: -1px 4px 4px -2px rgba(155, 63, 63, 0.14);
    z-index: 10;
    a {
        color: #FFF;
    }
    a:hover {
        color: #FFF;
    }
    .logo {
        display: block;
        width: 200px;
        height: 30px;
        background-image: url(../../../public/tomato-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nav-href{
        padding-left: 15px;
    }
}

// 
body {
    color: $normalFontColor;
    background-color: $mainBackground;
    .path-color {
        background-color: $mainYellow;
    }
}
.tag-color {
    color: $normalFontColor;
    background-color: $mainYellow;
}

// 登入註冊

.login_width {
    width: 300px;
}
.btn-google{
    background-color: $mainRed;
    box-shadow: -1px 2px 5px -2px rgba(66,66,66,0.10);
    font-size: 18px;
    color: #fff;
}
.btn-google:hover{
    color: #fff;
    background-color: $redBtnHover;
}
.btn-facebook{
    background-color: #5793D8;
    box-shadow: -1px 2px 5px -2px rgba(66,66,66,0.10);
    color: #fff;
    font-size: 18px;
}
.btn-facebook:hover{
    color: #fff;
    background-color: #518CD0;
}
.btn-login-submit{
    background-color: $relaxClock;
    color: #fff;
    font-size: 18px;
}
.btn-login-submit:hover{
    color: #fff;
    background-color: #8CC9B5;
}
.login-color{
    color: $normalFontColor;
}
.login-color:hover{
    color: $normalFontColor;
}
.login-form{
    background-color: #F7F7F7;
}
.login-form:focus{
    background-color: #F7F7F7;
}
.card{
    border: none;
    box-shadow: -1px 4px 5px -2px rgba(66,66,66,0.14);
}
.card-body{
    padding: 20px 60px;
}
.card-footer{
    background-color: transparent;
    border: none;
}
.text-divider:before { 
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid $mainBackground;
}
.text-divider {
    margin: 1rem 0;
    line-height: 0;
    text-align: center;
    span {
        background-color: #fff;
        padding: 1rem;
    }
}

// bootsraps 修改

h1, h2, h3{
    margin-bottom: 0px;
    text-align: center;
}
.alert{
    margin-bottom: 0px;
}
:-webkit-any(article,aside,nav,section) h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
p {
    margin-bottom: 10px;
}
a{
    color: $mainRed;
    font-size: 15px;
}
a:hover{
    color: $redBtnHover;
}
.btn:focus, .btn.focus{
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none;
}

// left_nav

.main-container{
    width: 100%;
    height: calc(100vh - 66px);
    position: sticky;
    box-sizing: border-box;
    overflow-y: auto;
}