@import "~bootstrap/scss/bootstrap";
@import "_library.scss";

// top_nav
.navbar {
    padding: 0.5rem 4rem;
    .nav-font{
        display: none;
    }
    .navbar-nav{
        margin-left: auto;
    }
    .button:focus{
        outline: none;
    }
    .nav-hamber{
        color: $mainRed;
    }
     @media (max-width: 991px) {
        .nav-font{
            display: inline-block;
        }
        .navbar-nav{
            background-color: #fff;
            padding: 10px 0px;
            margin-top: 13px;
            box-shadow: -1px 4px 4px -2px rgba(155, 63, 63, 0.14);
        }
        li{
            padding: 5px 0px;
        }
        button:focus{
            outline: 0px;
        }
     }
}
 @media (max-width: 991px) {
    .navbar{
        padding: 0;
    }
    .navbar-brand{
        margin-left: 10px;
    }
    .navname .logo{
        margin-left: 15px;
    }
    .navbar-toggler{
        margin-right: 15px;
    }
 }
.navname {
    background-color: #fff;
    height: 60px;
    box-shadow: -1px 4px 4px -2px rgba(155, 63, 63, 0.14);
    z-index: 10;
    a {
        color: #383838;
        font-size: 16px;
    }
    a:hover {
        color: $mainRed;
    }
    .logo {
        display: block;
        width: 200px;
        height: 30px;
        background-image: url(../../../public/tomato-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    button.nav-href.btn{
        padding-left: 15px;
        color: $normalFontColor;
    }
}

// 
body {
    color: $normalFontColor;
    background-color: #F7F5F5;
    .path-color {
        background-color: $mainYellow;
    }
}
.tag-color {
    color: $normalFontColor;
    background-color: $mainYellow;
}
.badge{
    font-size: 90%;
    font-weight: 400;
}

// main


  @media (max-width: 991px){
   .info-contain .row{
     display: flex;
   }
 }


// 登入註冊

.login_width {
    width: 300px;
}
.btn-google{
    background-color: $mainRed;
    box-shadow: -1px 2px 5px -2px rgba(66,66,66,0.10);
    font-size: 18px;
    color: #fff;
}
.btn-google:hover{
    color: #fff;
    background-color: $redBtnHover;
}
.btn-facebook{
    background-color: #5793D8;
    box-shadow: -1px 2px 5px -2px rgba(66,66,66,0.10);
    color: #fff;
    font-size: 18px;
}
.btn-facebook:hover{
    color: #fff;
    background-color: #518CD0;
}
.btn-login-submit{
    background-color: $relaxClock;
    color: #fff;
    font-size: 18px;
}
.btn-login-submit:hover{
    color: #fff;
    background-color: #8CC9B5;
}
.login-color{
    color: $normalFontColor;
}
.login-color:hover{
    color: $normalFontColor;
}
.login-form{
    background-color: #F7F7F7;
}
.login-form:focus{
    background-color: #F7F7F7;
}
.card{
    border: none;
    box-shadow: -1px 4px 5px -2px rgba(66,66,66,0.14);
}
.card-body{
    padding: 20px 60px;
}
.card-footer{
    background-color: transparent;
    border: none;
}
.text-divider:before { 
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid $mainBackground;
}
.text-divider {
    margin: 1rem 0;
    line-height: 0;
    text-align: center;
    span {
        background-color: #fff;
        padding: 1rem;
    }
}

.submit-radius{
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}

.form-group{
    input{
        background-color: #F0F0F0;
        padding: 2px 3px;
        border-radius: 5px;
    }
    .form-control:focus{
        background-color: #F0F0F0;
    }
}

// bootsraps 修改

h1, h2, h3{
    margin-bottom: 0px;
    text-align: center;
}
.alert{
    margin-bottom: 0px;
}
:-webkit-any(article,aside,nav,section) h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
p {
    margin-bottom: 10px;
}
a{
    color: $mainRed;
    font-size: 15px;
}
a:hover{
    color: $redBtnHover;
}
.btn:focus, .btn.focus{
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none;
}

// left_nav

.info-container{
    display: flex;
    
}
@media (max-width: 767px){
   .info-container{
     display: none;
   }
 }