@import '_library.scss';
.project_cover{
  h2{
    font-size: 18px;
  }
}

#project_cover{
  width: 20px;
  border-radius: 50%;
}

.project_color{
  width: 20px;
}

.project-task-list{
  background-color: #fff;
  border-radius: 10px;
  height: 53px;
  box-shadow: 3px 5px 10px -8px rgba(217,132,132,0.48);
  margin-bottom: 12px;
  position: relative;
}
.tictac_icon{
  position: absolute;
  bottom: 5px;
}
.project-title{
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  color: $normalFontColor;
}
.fa-circle, .fa-check-circle{
  color: #C6C5C5;
  background-color: #fff;
  border-radius: 100%;
}
// 未完成狀態playbtn
.fa-play-circle{
  color: $mainRed;
  background-color: #fff;
  border-radius: 100%;
}
.fa-play-circle:hover{
  color: $redBtnHover;
  background-color: #fff;
  border-radius: 100%;
}

.btn-submit{

  background-color: $mainRed;
  border-radius: 0px 10px 10px 0;
  input{
    color: #fff;
  }
}
input.btn{
  padding: 0 50px 0 50px;
}
button.btn{
  padding: 0 50px 0 50px;
  color: #fff;
}
.input-group{
  box-shadow: 3px 5px 10px -8px rgba(217,132,132,0.48);
  background-color: #fff;
  border-radius: 10px;
}

.task-hover:hover {
  background-color: #F6E5E3;
  transition: 0.2s;
}

.add_task{
  margin: 10px 15px;
}
.btn-outline-secondary{
  background-color: #fff;
  border: transparent;
}
.form-control{
  border: none;
  padding: 15px 20px;
  height: 48px;
}
.list-font{
  color: $normalFontColor;
  line-height: 2;
  font-size: 16px;
  white-space:nowrap;
}
select.form-control{
  background-color: #F0F0F0;
}
a.list_font:hover{
  color: $mainRed;
}
.play-icon{
  line-height: 1.5;
  font-size: 20px;
}
.btn.done-task{
  background-color: #CCCCCC;
  padding: 4px 15px;
  font-size: 14px;
  color: #fff;
  margin-left: -20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn.done-task:hover{
  color: #fff;
}
.task_tictac{
  max-width: 18px;
}
.play-icon{
  color: #000;
}

// 已完成任務條列
.task-done{
  .list-font{
    color: #919191;
    text-decoration:line-through;
  }
  .tag-color{
    background-color: #B1B1B1;
    color: #fff;
  }
}

// task 
.show-data{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 5px 10px -8px rgba(217,132,132,0.48);
  h3{
    font-size: 18px;
    padding: 16px 24px 10px 24px;
    margin-bottom: 8px;
  }
  .data-container{
    .data{
      background-color: #F0F0F0;
      border-radius: 10px;
      padding: 15px 0px 0px 0px;
      position: relative;
      text-align: center;
      margin-bottom: 16px;
      p{
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 13px;
      }
      span{
        font-size: 35px;
        color: $mainRed;
      }
    }
  }
}

h2.project-title{
  .fa-list{
    color: $mainGreen;
  }
}

.font-container{
  overflow : hidden;
  text-overflow : ellipsis;
  width: 330px;
}

@media screen and (max-width:768px){
 .font-container{
     width: 200px;
 }
}
