@import '_library.scss';

#project_cover{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.project_color{
  width: 20px;
}

ul{
    margin: 0px 15px 10px 15px;
    padding-inline-start: 0px;
    overflow: hidden;
}

.project-task-list{
  background-color: #fff;
  box-shadow: -1px 2px 5px -2px rgba(66,66,66,0.10);
}

.project-title{
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  color: $normalFontColor;
}
.fa-sun{
  color: rgb(214, 136, 62);
}
.fa-circle, .fa-check-circle{
  color: $leftNavTime;
}


.task-hover:hover {
  background-color: #9ADDC6;
}

.add_task{
  margin: 10px 15px;
}
.btn-outline-secondary{
  background-color: #fff;
  border: transparent;
  box-shadow: 0px 4px 4px -2px rgba(66,66,66,0.14);
}
.form-control{
  border: none;
  padding: 15px 20px;
  height: 48px;
  box-shadow: -1px 2px 5px -2px rgba(66,66,66,0.10);
}
.list-font{
  color: $normalFontColor;
  line-height: 2;
}
.play-icon{
  line-height: 1.5;
  font-size: 20px;
}
.done-task{
  background-color: $placeholder;
  padding: 1px 10px;
  font-size: 13px;
  color: #fff;
  margin-left: -20px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.done-task:hover{
  color: #fff;
}
.task_tictac{
  max-width: 20px;
}