@import '_library.scss';
.project_cover{
  h2{
    font-size: 18px;
  }
}

#project_cover{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.project_color{
  width: 20px;
}

.project-task-list{
  background-color: #fff;
  border-radius: 10px;
  height: 45px;
  box-shadow: 3px 5px 10px -8px rgba(217,132,132,0.48);
}
.project-title{
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  color: $normalFontColor;
}
.fa-sun{
  color: #FFF8A5;
}
.fa-circle, .fa-check-circle{
  color: #C6C5C5;
  background-color: #fff;
  border-radius: 100%;
}
.fa-play-circle{
  color: $mainRed;
  background-color: #fff;
  border-radius: 100%;
}
.fa-play-circle:hover{
  color: $redBtnHover;
  background-color: #fff;
  border-radius: 100%;
}

.btn-submit{
  padding: 0 40px 0 40px;
  background-color: $mainRed;
  border-radius: 0px 10px 10px 0;
  input{
    color: #fff;
  }
}
.input-group{
  box-shadow: 3px 5px 10px -8px rgba(217,132,132,0.48);
  background-color: #fff;
  border-radius: 10px;
}

.task-hover:hover {
  background-color: #F6E5E3;
  transition: 0.2s;
}

.add_task{
  margin: 10px 15px;
}
.btn-outline-secondary{
  background-color: #fff;
  border: transparent;
}
.form-control{
  border: none;
  padding: 15px 20px;
  height: 48px;
}
.list-font{
  color: $normalFontColor;
  line-height: 2;
  font-size: 16px;
}
.play-icon{
  line-height: 1.5;
  font-size: 20px;
}
.btn.done-task{
  background-color: $placeholder;
  padding: 1px 10px;
  font-size: 13px;
  color: #fff;
  margin-left: -20px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.btn.done-task:hover{
  color: #fff;
}
.task_tictac{
  max-width: 20px;
}
.play-icon{
  color: #000;
}