@import '_library.scss';

a{
  color: $clockPending;
}
.timer_controler{
  .task_list{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    height: 176px;
    h3{
      margin: auto;
      display: inline-block;
      background-color: $mainYellow;
      margin: 10px;
      padding: 5px 10px;
      font-size: 20px;
      border-radius: 20px;
    }
    p{
      color: $subBackground;
      font-size: 28px;
      margin: 10px;
    }
  }
  .right_nav{
    position: fixed;
    right: 0;
    top: 40%;
  }
}

.tomato_relax_bg{
  background-image: url(/pic-tomato-relax-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $mainGreen;
  // height: 100%;
  @media (max-width: 575.98px) { height: 500px }
  @media (min-width: 576px) { height: 800px }
    
  .display{
    margin: 20px 0px 40px 0px;
    width: 400px;
    height: 400px;
    border: 3px solid $subBackground;
    border-radius: 100%;

  }
  // clock
  .pending{
    background-color: $clockPending;
    font-size: 130px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    color: $subBackground;
  }
  .start{
    background-color: $redClockBtn;
    font-size: 130px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    color: $subBackground;
  }
  .relax{
    background-color: $relaxClock;
    font-size: 130px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    color: $subBackground;
  }
  // btn
  span{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid $subBackground;
    border-radius: 100%;
  }

  .stopbtn, .startbtn, .relaxbtn{
    background-color: $relaxPlayBtn;
    border-radius: 100px;
    font-size: 30px;
    color: $subBackground;
  }

}

.tomato_bg{
  background-image: url(/pic-tomato-start-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $mainRed;
  // height: 100%;
  @media (max-width: 575.98px) { height: 500px }
  @media (min-width: 576px) { height: 800px }

    .display{
      margin: 20px 0px 40px 0px;
      width: 400px;
      height: 400px;
      border: 3px solid $subBackground;
      border-radius: 100%;

    }
    // clock
    .pending{
      background-color: $clockPending;
      font-size: 130px;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      color: $subBackground;
    }
    .start{
      background-color: $redClockBtn;
      font-size: 130px;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      color: $subBackground;
    }
    .relax{
      background-color: $relaxClock;
      font-size: 130px;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      color: $subBackground;
    }
    // btn
    span{
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border: 2px solid $subBackground;
      border-radius: 100%;
    } 

    .stopbtn, .startbtn, .relaxbtn{
      background-color: $redClockBtn;
      border-radius: 100px;
      font-size: 30px;
      color: $subBackground;
    }


}
