<div class="display">
    <h1 class="display_time_left"></h1>
</div>
<div class="timer_controls" data-controller="counters">
    <button data-target="counters.count" data-time="1500" class="timer_button" data-action="counters#count">25 mins</button>
    <button data-target="counters.count" data-time="5" class="timer_button"  data-action="counters#count">5 secs</button>
</div>