<div class="display">
  <h1 class="display_time_left"></h1>
</div>
<div class="timer_controls" data-controller="counters">
  <div> 
    work
    <a href='#' data-target="counters.count" data-time="25" class="starttimer" data-action="counters#count">
      <i class="far fa-play-circle fa-8x start" ></i>
    </a>
  </div>
  <div>
    relax
    <a href='#' data-target="counters.count" data-time="5" class="relaxtimer d-none" data-action="counters#count">
      <i class="far fa-play-circle fa-8x relax " ></i>
    </a>
  </div>
  <div>
    stop
    <a href='#' data-target="counters.count" data-time="0"  class="stoptimer d-none" data-action="counters#count">
      <i class="far fa-stop-circle fa-8x relax" ></i>
    </a>
  </div>
  
</div>