.main_container{
  display: flex;
  .project_group{
    background-color: #F9F9F9;
    width: 20vw;
    height: 100vh;
  }
  .task_group{
    background-color: #F7F7F7;
    width: 100vw;
    height: 100vh;

  }
}


