<div class="timer_controls" data-controller="tictacs">
  <div class="clock d-flex justify-content-center align-items-center">
    <div class="display">
      <h1 class="display_time_left"></h1>
    </div>

  </div>
</div>